<html ng-app='app'>

<body>
  <h1>Angular ngModel!</h1>

  <div ng-controller='MainController'>
    <!-- $scope.myData is implicit -->
<!--     <input ng-model="myData">
    <button ng-click="myData='123'">make it 123</button>
    <h2>{{myData}}</h2> -->

    <!-- inside scope SubController! -->
    <!-- Weirdness, dangeroud -->
<!--     <div ng-controller='SubController'>
      <input ng-model="myData">
      <button ng-click="myData">clickMe</button>
      <h2>{{myData}}</h2> -->

<!-- ALWAYS HAVE A DOT IN MODEL NAMES FOR INHERITANCE-WEIRDNESS FIX! -->

    <!-- .val fixes the weirdness! -->
    <input ng-model="myData.val">
    <h2>{{myData.val}}</h2>

    <div ng-controller='SubController'>
      <input ng-model="myData.val">
      <h2>{{myData.val}}</h2>

    </div>

  </div>

  <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js'></script>
  <script type='text/javascript' src='app.js'></script>
</body>

</html>
